@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700|Kumar+One');
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;

/* Color Variables */
  --mcl: rgb(190, 73, 56);
  --mcl2: #673AB7;
  --mcl3: rgb(229, 99, 84);
  --mcl4: #4CAF50;
}
// https://www.materialpalette.com/deep-purple/purple
// --mcl: #ff8819;
// --mcl2: #6a19ff;
// rgb(209, 82, 64)

* {
  position: relative;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p,ul,li,a {
  margin: 0;
  padding: 0;
}

.toggle_nav_button {
  position: fixed;
  left: 10px;
  top: 56px;
  width: 40px;
  height: 40px;
  background-color: var(--mcl2);
  z-index: 101;
}

.nav {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color:var(--mcl);
  color: white;
  z-index: 1000;
  top: 0;

  .close_nav {
    width: 50px;
    height: 50px;
    position: absolute;
    font-size: 38px;
    left: 4px;
    top: 4px;
    cursor: pointer;
  }

  ul {
    list-style-type: none;

    li {
      text-align: center;

      a {
        text-decoration: none;
        color: #ffada7;
        font-size: 36pt;
        width: auto;

        span {
          transition:  0.35s;

          &::before, &::after {
            content: "";
            position: absolute;
            height: 60%;
            width: 0;
            left: -16px;
            top: 50%;
            transform: translate(-100%, -50%);
            background-color: #fff8f7;
            transition: 0.35s;
          }
          &::after {
            transform: translate(100%, -50%);
            left: initial;
            right: -16px;
          }
          &:hover {
            color: #fff8f7;
            &:before, &:after {
              width: 50vw;
            }
          }
        }
      }
    }
  }
}


// loader
$colors:
  hsla(0, 0, 100, 1)
  hsla(0, 0, 100, 1)
  hsla(0, 0, 100, 1)
  hsla(0, 0, 100, 1);
$size: 2.5em;
$thickness: 0.5em;

// Calculated variables.
$lat: ($size - $thickness) / 2;
$offset: $lat - $thickness;

.loader_container {
  width: 25%;
}

.loader {
  position: relative;
  width: $size;
  height: $size;
  transform: rotate(165deg);

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: $thickness;
    height: $thickness;
    border-radius: $thickness / 2;
    transform: translate(-50%, -50%);
  }

  &:before {
    animation: before 2s infinite;
  }

  &:after {
    animation: after 2s infinite;
  }
}

@keyframes before {
  0% {
    width: $thickness;
    box-shadow:
      $lat (-$offset) nth($colors, 1),
      (-$lat) $offset nth($colors, 3);
  }
  35% {
    width: $size;
    box-shadow:
      0 (-$offset) nth($colors, 1),
      0   $offset  nth($colors, 3);
  }
  70% {
    width: $thickness;
    box-shadow:
      (-$lat) (-$offset) nth($colors, 1),
      $lat $offset nth($colors, 3);
  }
  100% {
    box-shadow:
      $lat (-$offset) nth($colors, 1),
      (-$lat) $offset nth($colors, 3);
  }
}

@keyframes after {
  0% {
    height: $thickness;
    box-shadow:
      $offset $lat nth($colors, 2),
      (-$offset) (-$lat) nth($colors, 4);
  }
  35% {
    height: $size;
    box-shadow:
        $offset  0 nth($colors, 2),
      (-$offset) 0 nth($colors, 4);
  }
  70% {
    height: $thickness;
    box-shadow:
      $offset (-$lat) nth($colors, 2),
      (-$offset) $lat nth($colors, 4);
  }
  100% {
    box-shadow:
      $offset $lat nth($colors, 2),
      (-$offset) (-$lat) nth($colors, 4);
  }
}



/**
 * Attempt to center the whole thing!
 */

.loader {
  position: relative;
  margin: 20px auto;
}
