@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700|Kumar+One');
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;

/* Color Variables */
  --mcl: rgb(209, 82, 64);
  --mcl2: #673AB7;
  --mcl3: rgb(229, 99, 84);
}
// https://www.materialpalette.com/deep-purple/purple
// --mcl: #ff8819;
// --mcl2: #6a19ff;

* {
  position: relative;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p,ul,li,a {
  margin: 0;
  padding: 0;
}

.toggle_nav_button {
  position: fixed;
  left: 10px;
  top: 56px;
  width: 80px;
  height: 80px;
  background-color: var(--mcl2);
  z-index: 101;
}
