.data_container {
  padding: 50px 0;

  .data_list_container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    top: 20px;
    padding-bottom: 60px;
  }
}

.monster {
  background-color: var(--mcl);
  color: white;
  transition: 0.25s;
  height: auto;
  border: 2px solid #270c53;
  border-radius: 15px;
  margin: 10px 5px;
  padding: 15px 10px;

  &-details {

  }

  h2 {
    font-family: 'Kumar One', cursive;
    font-size: 40px;
  }

  h2, h3 {
    text-align: left;
  }

  p {
    font-size: 16px;
  }
}
.form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;

  .category {
    margin-bottom: 4px;
    width: 100%;

    &:first-child, &:nth-child(2) {
      margin-top: 15px;
    }

    input {
      width: 100%;
      border: none;
      outline: none;
      height: 23px;
      transition: 0.25s;
    }

    input:focus {
      background-color: var(--mcl2);
    }
  }

  button {
    position: relative;
    width: 25%;
    bottom: -15px;
    margin: 10px 0;
    margin-top: 0;
    padding: 5px;
    border: 2px solid #270c53;
    border-radius: 15px;
    background-color: #fff;
    color: var(--mcl2);
    cursor: pointer;
    transition: 0.25s;

    &:hover {
      background-color: var(--mcl2);
      color: white;
    }
  }
}

.create_monster {
  width: 100%;
  height: 100vh;
  position: fixed;
  top:0;
  left: 0;
  z-index: 1001;
  margin: 0;
  border-radius: 0;
  border-color: transparent;

  .category {
    margin: 4px 4px;
    width: 45%;
  }
}

.details_toolbar {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: bold;
  color: white;
  cursor: pointer;

  span {
    padding: 0 4px;
  }
}

.add_monster {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 25%;
  padding: 15px;
  border: 2px solid #270c53;
  border-radius: 15px;
  background-color: var(--mcl);
  color: #fff;
  cursor: pointer;
  transition: 0.25s;

  &:hover{
    background-color: var(--mcl2);
  }
}

.search_bar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: var(--mcl);
  z-index: 100;
}
