.monster {
  margin:20px;
  background-color: grey;
  float:left;
  padding: 10px;
  border:2px solid black;
  transition: 0.25s;
}
.monster h2 {
  color: white;
}
.monster p {
  margin:0;
  color:white;
}

.details_toolbar {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 18px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  padding: 4px 8px;
}
.details_toolbar span {
  padding: 4px;
}

.add_monster {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 15px;
  border: 0;
  background-color: rgb(208, 139, 47);
  color: white;
  cursor: pointer;
}
